version: "3.8"

services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    build:
      context: .
      dockerfile: jenkins.Dockerfile
    container_name: jenkins-admin
    restart: unless-stopped
    user: root
    ports:
      - "8085:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jenkins-plugins.txt:/usr/share/jenkins/ref/plugins.txt
    networks:
      - microservices-net
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false

networks:
  microservices-net:

volumes:
  jenkins_home: